@font-face {
    font-family: "sc-regular";
    src: url("../fonts/SourceCodePro-Regular.ttf");
}

@font-face {
    font-family: "sc-bold";
    src: url("../fonts/SourceCodePro-Bold.ttf");
}

* {
    font-family: "sc-regular";
    box-sizing: border-box;
    /* outline: solid 1px red; */
}

html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    overflow: hidden;
}

body {
    display: flex;
    padding: 15px;
    gap:15px;
}

#hexcontent, #previewContainer {
    flex: 1;
    position: relative;
    min-width: 0;
    min-height: 0;
    overflow-y: scroll;
    background: white;
}

#hexcontent {
    padding: 15px;
    font-size: 16px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    font-family: monospace;
    /* set character spacing */
    letter-spacing: 2px;
    position: relative;
    color: #111111;
    background-color: darkgray;
}

#hexcontent * {
    font-family: monospace;
}

.highlight, .targetHighlight {
    /* Set its width and height to a single character */
    position: absolute;
    user-select: none;
    pointer-events: none;
    width: 100%;
    height: 100%;
    padding:15px;
    top:0;
    left:0;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.highlight {
    color: red;
    z-index: 1;
}

.targetHighlight {
    text-shadow: #00FF00 0px 0px 5px;
}


#previewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap:10px;
    background: url(../img/bck.png);
}

#imagePreview {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#preview, #history {
    width:100%;
    height:100%;
    position: relative;
}

#preview {
    flex: 2;
}

#history {
    flex: 1;
    overflow-x: scroll;

    display:flex;
    gap: 10px;
    
    background-color: lightgray;
    padding: 15px;
}

.history-image-container {
    aspect-ratio: 1/1;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    position: relative;
    transition: transform 150ms, opacity 150ms;
    background: url(../img/bck.png) ;
    border: solid 2px black;
}

.history-image-container:hover {
    transform: scale(0.95);
    outline-offset: -3px;
    opacity: 0.8;
}

.history-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding:2px;
    height: 15%;
}

.btn {
    width:fit-content;
}

.btn img {
    height: 100%;
    width: auto;
    padding: 0 5px;
    cursor: pointer;
    transition: transform 150ms;
}

.history-image-container button {
    border: none;
    color: black;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    height: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - 5px);
}

.btn-delete {
    background-image: url(../img/del.png) !important;
    top: 2px;
    right: 3px;
}

.btn-favorite {
    background-image: url(../img/dl.png) !important;
    bottom: 2px;
    right: 3px;
}



.processing {
    color: #AAAAAA !important;
}

#commands {
    height: 30px;
    width:100%;
    display: flex;
    gap: 10px;
}

#commands button {
    height: 100%;
    cursor: pointer;
    border-radius: 0;
    border: none;
}

.verticalDivider {
    width: 1px;
    background-color: black;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: solid 1px black;
}

button img, label img {
    height: 1em;
    padding-right: 4px;
    width: auto;
}

input[type="file"] {
    display: none; /* hide the default input button */
}

.uploadInput {
    display: flex;
    align-items: center;
    width: fit-content;

    outline: solid 1px black;
    padding: 5px;
    background-color:lightgreen;

    cursor: pointer;
}

video {
    width: 400px;
    height:400px;
    position: absolute;
}


/* Toast */

#toast {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:0;
    width: 60%;
    height: 200px;
    background-color: lightgray;
    border-radius: 10px 10px 0 0;
    border: solid 2px black;
    border-bottom: none;
    transition: bottom 300ms;
    z-index: 1000;
}

.toast_hidden {
    bottom:-200px !important;
}

#toast-text {
    padding: 15px;
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
}

#toast-buttons {
    padding: 15px;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content:center;
    gap:5px;
}

#toast-buttons button {
    border: none;
    padding: 20px;
    font-size: 16px;
}